In [1]:
import sqlite3
from sqlite3 import Error
import pandas as pd
import numpy as np

def create_connection(db_file):
    """ create a database connection to a SQLite database """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
    return conn

In [9]:
conn = create_connection("spectrograms.db")

2.6.0

In [10]:
t_t_v = ['train','test','train','val','val','test','test','val','train']
words = ['cat','one','left','up','car','seven','bird','hello','goodbye']
image = np.array(
[
    [0,1,2,3,4],
    [0,1,2,3,4],
    [0,1,2,3,4],
    [0,1,2,3,4],
])
images = []
for i in range(9):
    images.append(image)
print(len(images))

9

In [11]:
df = pd.DataFrame({'t_t_v':t_t_v,'words':words,'images':images})
df

   t_t_v    words                                             images
0  train      cat  [[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3...
1   test      one  [[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3...
2  train     left  [[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3...
3    val       up  [[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3...
4    val      car  [[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3...
5   test    seven  [[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3...
6   test     bird  [[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3...
7    val    hello  [[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3...
8  train  goodbye  [[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3...

In [12]:
df.to_sql('specgrams', conn, if_exists='replace', index=False)

In [13]:
verification_df = pd.read_sql('SELECT * FROM specgrams', conn)
verification_df

   t_t_v    words                                             images
0  train      cat  b'\x00\x00\x00\x00\x00\x00\x00\x00\x01\x00\x00...
1   test      one  b'\x00\x00\x00\x00\x00\x00\x00\x00\x01\x00\x00...
2  train     left  b'\x00\x00\x00\x00\x00\x00\x00\x00\x01\x00\x00...
3    val       up  b'\x00\x00\x00\x00\x00\x00\x00\x00\x01\x00\x00...
4    val      car  b'\x00\x00\x00\x00\x00\x00\x00\x00\x01\x00\x00...
5   test    seven  b'\x00\x00\x00\x00\x00\x00\x00\x00\x01\x00\x00...
6   test     bird  b'\x00\x00\x00\x00\x00\x00\x00\x00\x01\x00\x00...
7    val    hello  b'\x00\x00\x00\x00\x00\x00\x00\x00\x01\x00\x00...
8  train  goodbye  b'\x00\x00\x00\x00\x00\x00\x00\x00\x01\x00\x00...

https://stackoverflow.com/questions/18621513/python-insert-numpy-array-into-sqlite3-database

^^ storing a 2d numpy array in sqlite